---
title: 第一週 - 從函式拆解認識設計模式
layout: ./app/layout.ejs
engine: ejs
current: index
---

<div id="app">
    <div class="container">
      <div class="row py-3">
        <div class="col-6">
          <h2>產品列表</h2>
          <table class="table table-hover mt-4 text-center">
            <thead>
              <tr>
                <th>
                  產品名稱
                </th>
                <th>
                  原價
                </th>
                <th>
                  售價
                </th>
                <th>
                  剩餘數量
                </th>
                <th>
                  是否啟用
                </th>
                <th>
                  查看細節
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in products">
                <td>
                  {{ item.title }}
                </td>
                <td>
                  {{ item.origin_price }}
                </td>
                <td>
                  {{ item.price }}
                </td>
                <td>
                  {{ item.num }}
                </td>
                <td>
                  <span v-if="item.is_enabled" @click="changeStatus(item.id)"
                   class="btn btn-success py-2 px-2 rounded">
                      啟用
                  </span>
                  <span v-else @click="changeStatus(item.id)" 
                   class="btn btn-dark py-2 px-2 rounded">
                      未啟用
                  </span>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" @click="showDetail(item.id)">
                        查看細節
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p>目前有 <span>{{ products.length }}</span> 項產品</p>
        </div>


        <div class="col-6">
          <div v-if="tempID" class="card">
            <!-- 圖片 -->
            <div class="row">
              <div class="col-7 p-4">
                <div class="rounded-4 overflow-hidden ratio ratio-3x4">
                  <img :src="tempItemInfo.imageUrl" class="img-cover" alt="tempItemInfo.title">
                </div>
              </div>
              <div class="col-5 p-4 d-flex flex-column justify-content-around">
                <template v-for="imgSrc in tempItemInfo.imagesUrl">
                  <div class="rounded-4 overflow-hidden ratio ratio-4x3">
                    <img :src="imgSrc" class="img-cover" alt="itemDetail.title" class="img-cover">
                  </div>
                </template>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                {{ tempItemInfo.title }}
                <span class="badge bg-primary ms-2">{{ tempItemInfo.category }}</span>
              </h5>
              <p class="card-text">商品描述：{{ tempItemInfo.description }}</p>
              <p class="card-text">商品內容：{{ tempItemInfo.content }}</p>
              <div class="d-flex">
                <p class="card-text me-2">{{  }}</p>
                <p class="card-text text-secondary"><del>{{  }}</del></p>
                {{ tempItemInfo.price }} <span class="text-secondary mx-2"><s>{{ tempItemInfo.origin_price }}</s></span> 元
              </div>
            </div>
          </div>
      </div>


      </div>
    </div>


</div>
